{{ define "main" }}

<p class="title">Notes from a perpetual student</p>

<p class="intro">Hi, Welcome to my blog. I'm <a href="/about">Sharath Patali</a>, a lifelong tech enthusiast, builder and creative tinkerer across code, hardware, and art.</p>

<hr class="hr-line">

<h1>Latest posts</h1>
<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .Date | time.Format ":date_medium" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/photos" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Fill "480x300 center" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

<style>
  .title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: left;
  }
  .intro {
    text-align: left;
    width: 100%;
    margin: 0 0 1rem 0;
  }
  .hr-line {
    margin: 1.75rem 0rem 0.25rem 0rem;
  }
</style>
{{ end }}